/Backup Of miniPianoProteus1.pdsbak
#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo
miniPianoProteus1.pdsprj.DESKTOP-6OI9OVN.Lenovo.workspace
miniPiano/miniPiano/miniPiano.cppproj
miniPianoProteus1.pdsprj.DESKTOP-C1P28TM.Dell.workspace

