/Backup Of miniPianoProteus1.pdsbak
#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo
miniPianoProteus1.pdsprj.WIN-G8HFR2NTSRR.User.workspace
Last Loaded miniPianoProteus1.pdsbak
miniPiano/miniPiano/miniPiano.cppproj
miniPiano/miniPiano/miniPiano.cppproj
miniPiano/miniPiano/miniPiano.cppproj
miniPiano/miniPiano/miniPiano.cppproj
miniPiano/miniPiano/miniPiano.cppproj
*.cppproj
miniPiano/miniPiano/miniPiano.cppproj
miniPiano/miniPiano/miniPiano.cppproj
miniPianoProteus1.pdsprj.DESKTOP-C1P28TM.Dell.workspace
